---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.292
    hooks:
      - id: ruff
        files: ^(scripts|tests|custom_components)/.+\.py$
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        files: ^(scripts|tests|custom_components)/.+\.py$

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        files: ^(custom_components|tests)/.+\.py$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: c4a0b883114b00d8d76b479c820ce7950211c99b # frozen: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=main
          - --branch=rc
          - --branch=production

  - repo: local
    hooks:
      - id: yarn_lint
        name: Lint js with yarn
        description: This hook ensures that all Javascript/Typescript files are linted
        language: node
        types: ["text", "ts"]
        entry: yarn lint:fix
        additional_dependencies: [yarn]
      - id: yarn_build
        name: Build with yarn
        description: This hook ensures that the JS package is built
        language: node
        types: ["text", "ts"]
        entry: yarn build
        pass_filenames: false
        additional_dependencies: [yarn]

  - repo: https://github.com/adrienverge/yamllint.git
    rev: 81e9f98ffd059efe8aa9c1b1a42e5cce61b640c6 # frozen: v1.35.1
    hooks:
      - id: yamllint
        types: [yaml]

  - repo: https://github.com/PyCQA/flake8
    rev: 7d37d9032d0d161634be4554273c30efd4dea0b3 # frozen: 7.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=120"]
        additional_dependencies: [Flake8-pyproject]

  # Ensure all code is as secure as possible and follows best practices
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 8cd2d4056637e242709fe09f15a36f0b4b682bda # frozen: v1.8.0
    hooks:
      - id: mypy
        files: ^(custom_components)/.+\.py$

  - repo: https://github.com/rhysd/actionlint
    rev: ea8102762106cdca9c88829f1295b39a544706f3 # frozen: v1.6.26
    hooks:
      - id: actionlint
