-r requirements_lint.txt
-r requirements_test.txt
aiofiles==25.1.0
colorlog==6.10.1
debugpy==1.8.17
homeassistant==2025.12.1
pyserial==3.5
pyudev==0.24.4
zeroconf==0.148.0
zwave-js-server-python==0.67.1
