-r requirements_lint.txt
-r requirements_test.txt
aiofiles==25.1.0
colorlog==6.10.1
debugpy==1.8.19
homeassistant==2025.12.5
pyserial==3.5
pyudev==0.24.4
uv
zeroconf==0.148.0
zwave-js-server-python==0.67.1
