-r requirements_lint.txt
-r requirements_test.txt
aioesphomeapi==45.6.0
aiofiles==25.1.0
aiousbwatcher==1.1.2
colorlog==6.11.0
debugpy==1.8.21
ha-silabs-firmware-client==0.3.0
homeassistant>=2026.7.2
matter-python-client==1.2.6
pyserial==3.5
pyudev==0.24.4
universal-silabs-flasher==1.1.0
usb-devices>=0.5.1
uv
zeroconf==0.150.0
zha==2.0.0
zha-quirks==2.1.1
zigpy>=2.0.0
zwave-js-server-python==0.72.0
