---
name: Frontend

# yamllint disable-line rule:truthy
on:
  push:
    branches: [main]
    paths:
      - "**.js"
      - "**.ts"
      - "ts/**"
      - ".eslintrc.cjs"
      - "package.json"
      - "rollup.config.js"
      - "tsconfig.json"
      - "vitest.config.ts"
      - ".github/workflows/frontend.yaml"
  pull_request:
    branches: [main]
    paths:
      - "**.js"
      - "**.ts"
      - "ts/**"
      - ".eslintrc.cjs"
      - "package.json"
      - "rollup.config.js"
      - "tsconfig.json"
      - "vitest.config.ts"
      - ".github/workflows/frontend.yaml"

jobs:
  lint-and-build:
    name: Lint and Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/iron
      - name: Install dependencies
        run: yarn install
      - name: Lint
        run: yarn lint:fix
      - name: Check for changes from lint
        id: change_lint
        run: echo "changed=$(git status --porcelain | wc -l)" >> $GITHUB_OUTPUT
      - name: Check if clean from lint
        if: steps.change_lint.outputs.changed != 0
        uses: actions/github-script@v8
        with:
          script: |
            core.setFailed('Repo is dirty after lint! Run yarn lint:fix locally before pushing changes.')
      - name: Build
        run: yarn build
      - name: Check for changes from build
        id: change_build
        run: echo "changed=$(git status --porcelain | wc -l)" >> $GITHUB_OUTPUT
      - name: Check if clean from build
        if: steps.change_build.outputs.changed != 0
        uses: actions/github-script@v8
        with:
          script: |
            core.setFailed('Repo is dirty after build! Run yarn build locally before pushing changes.')

  test:
    name: Vitest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/iron
      - name: Install dependencies
        run: yarn install
      - name: Run tests
        run: yarn test --coverage --coverage.reporter=json
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: typescript
          files: ./coverage/coverage-final.json
