---
name: Labeler

# GHA requires bare `on:` which yamllint sees as boolean
# yamllint disable-line rule:truthy
on:
  pull_request_target:
    types:
      - edited
      - opened
      - reopened
      - synchronize

permissions:
  contents: read
  pull-requests: write

concurrency:
  group: labeler-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  label-files:
    name: Label by Files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v6
        with:
          sync-labels: true

  label-body:
    name: Label by Body
    needs: label-files
    runs-on: ubuntu-latest
    steps:
      - uses: github/issue-labeler@v3.4
        with:
          configuration-path: .github/issue-labeler.yml
          enable-versioned-regex: 0
          sync-labels: 1
