---
name: Labeler

# yamllint disable-line rule:truthy
on:
  pull_request_target:
    types:
      - edited
      - opened
      - reopened
      - synchronize

permissions:
  contents: read
  pull-requests: write

jobs:
  label-files:
    name: Label by Files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v5
        with:
          sync-labels: true

  label-body:
    name: Label by Body
    runs-on: ubuntu-latest
    steps:
      - uses: github/issue-labeler@v3
        with:
          configuration-path: .github/issue-labeler.yml
          enable-versioned-regex: 0
          sync-labels: 1
