---
name: Pytest

# yamllint disable-line rule:truthy
on:
  push:
    branches: [main]
    paths:
      - "**.py"
      - ".github/workflows/pytest.yaml"
  pull_request:
    branches: [main]
    paths:
      - "**.py"
      - "requirements*.txt"
      - "pyproject.toml"
      - ".github/workflows/pytest.yaml"

jobs:
  test:
    name: Python ${{ matrix.python-version }} Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libudev-dev
      - name: Install dependencies
        run: uv pip install --system -r requirements_dev.txt
      - name: Run tests and generate coverage report
        run: |
          uv pip install --system pytest-cov pytest-github-actions-annotate-failures
          pytest ./tests/ --cov=custom_components/lock_code_manager/ --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: python
          files: coverage.xml
